<!DOCTYPE html>
<html>
  <head>
    <title>Martin Romero</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="Martin Romero site where you can find details about his services related to IT and other computer stuff"
    />
    <meta
      name="author"
      content="Martin Romero"
    />
    <meta
      name="format-detection"
      content="telephone=no"
    />
    <meta
      name="msapplication-tap-highlight"
      content="no"
    />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <!--
      OpenGraph
     -->
    <!-- Used by URL scrapers on social media platforms like Twitter or Facebook. -->
    <meta
      property="og:title"
      content="Martin Romero • A computer guy"
    />
    <meta
      property="og:type"
      content="website"
    />
    <!-- The canonical URL of the page. -->
    <meta
      property="og:url"
      content="https://martinr.net/"
    />
    <!-- Defines the natural language of the page. -->
    <meta
      property="og:locale"
      content="en_US"
    />
    <meta
      property="og:description"
      content="Martin Romero site where you can find details about his services related to IT and other computer stuff"
    />
    <!-- The image displayed on link sharing on social media, chat, etc 1200 x 630.  -->
    <meta
      property="og:image"
      content="image.png"
    />

    <!--
      Icons
     -->
    <!-- <link rel="icon" href="/favicon.ico" sizes="any"> 32×32 -->
    <link
      rel="icon"
      href="icons/icon.svg"
      type="image/svg+xml"
    />
    <!-- 180x180 -->
    <link
      rel="apple-touch-icon"
      href="icons/apple-touch-icon.png"
    />
    <!-- 180×180 -->
    <link
      rel="manifest"
      href="/manifest.json"
    />

    <!-- CSS color to customize the display of the page or of the surrounding user interface. -->
    <meta
      name="theme-color"
      content="#314149"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#85AD8D"
      media="(prefers-color-scheme: light)"
    />
  </head>
  <body>
    <!-- quasar:entry-point -->
    <!--
      Added for work with AWS Amplify
      @see {@link https://ui.docs.amplify.aws/vue/getting-started/troubleshooting}
     -->
    <script>
      window.global = window
      var exports = {}
    </script>
  </body>
</html>
